header{
    border: 30px;
    padding: 10px;
    background-color: aqua;
}
.container{
    width: 400px;
    height: 400px;
    padding: 20px;
    background-color: darkslateblue;
    position: relative;
    border: 5px solid black;
    border-radius: 6px; 
    margin: 20px 500px auto;
}
.containerinput[type='text'] {
    width: auto;
    position: absolute;
    height: 80px;
    top: 5px;
    text-align: right;
    padding: 3px 6px;
    outline: none;
    font-size: 40px;
    border: 20px solid black;
    display: flex;
    margin: auto;
    border-radius: 6px;
    color: black;
}
.button input[type='button']{
    width:90px;
    padding: 2px;
    margin: 2px 0px;
    position: relative;
    left: 13px;
    top: 20px;
    height: 60px;
    cursor: pointer;
    font-size: 18px;
    transition: 0.5s;
    background-color: #495250;
    border-radius: 6px;
    color: white;
 }
 .button input[type='button']:hover{
    background-color: black;
    color: white;
 }